.home {
  display: flex;
  flex-direction: column;
  h1 {
    margin-left: 24px;
    text-align: center;
  }
}
.pokeball {
  width: 30px;
}
.pokemonCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
