@import url("https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700|Nunito:600");
html {
  padding: 0;
  margin: 0;
  font-family: Cinzel Decorative, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background: linear-gradient(to bottom right, #024, #402);
  color: #fff;
}
